@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap');

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: #323232;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--font-color);
}

.heart {
  color: red;
}

/* TODO: continue from here */