*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark-blue: #4c5fd5;
  --pale-blue: #dadbf1;
  --black: #000000;
  --white: #ffffff;

  --heavy-font-weight: 700;
  --light-font-weight: 400;
}

body {
  font-family: 'GT America Standard', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.container-inner {
  margin: 0 auto;
  width: 90%;
}

.btn {
  padding: 0.5rem 1.5rem;
  line-height: 1.5;
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  text-align: center;
}

/* Navbar */

.navbar {
  position: relative;
  display: flex;
  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
  font-weight: var(--heavy-font-weight);
  height: 5.5em;
}

.navbar__contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1900px;
  width: 90%;
  margin: auto;
}

.navbar__logo-wrapper {
  display: flex;
  align-items: center;
}

.navbar__helpcenter {
  display: inline-block;
  margin: 0.25rem 0 0 0.8rem;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: var(--light-font-weight);
  line-height: 1.5rem;
  letter-spacing: -.5px;
  padding: 2px 0 4px 0.8rem;
  border-left: 2px solid var(--white);
}

.navbar__controls {
  font-size: 1rem;
  font-weight: var(--light-font-weight);
}

.btn.submit-a-request {
  border: 1px solid var(--white);
}

.btn.login {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--dark-blue);
  margin-left: 1rem;
}

/* Hero Section & Search Bar */

.hero-unit {
  position: relative;
  background-color: var(--pale-blue);
  overflow: hidden; /*? I don't know what's the point of this declaration. */
}

.hero-unit--large {
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.hero-unit__content {
  position: relative;
  max-width: 720px;
  /*? (Line below) Don't know the point of a z-index */
  z-index: 2;
}

.hero-unit__title {
  font-size: 5rem;
  font-weight: var(--light-font-weight);
  text-align: center;
  letter-spacing: -4px;
  /** (Line below) the figure in the middle refers to left and right margin */
  margin: 0 0 1rem;
}

.search-box {
  position: relative;
}

.search-box--hero-unit {
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
}

.search-box--hero-unit #query {
  padding: 1rem 1rem;
  box-shadow: 0 9px 14px 0 rgb(0 0 0 / 10%);
}

.search-box input[type='search'] {
  display: block;
  width: 100%;
  height: auto;
  font-weight: var(--light-font-weight);
  background-color: var(--white);
  /*? (Line below) Is there a point adding this declaration? */
  background-image: none;
  border: 1px solid #dee2e6;
}

.hero-unit__arrow-icon {
  position: absolute;
  transform: translateY(-50%);
  right: 0.1rem;
  bottom: -0.1rem;
  width: 2rem;
  vertical-align: middle;
}

.search-box input[type='submit'] {
  display: none;
}

/* Main contents */

.features-inner {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;
}

.feature-list {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.feature-list__items {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(15px * -1);
  margin-left: calc(15px * -1);
}

.feature-list-item {
  position: relative;
  display: flex;
  margin-bottom: 3rem;
  padding-right: 1rem;
}

.feature-list-icon {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}

.feature-list-icon box-icon {
  max-width: 100%;
  height: auto;
  max-height: 120px;
  margin-right: 30px;
}

.feature-list-block {
  position: relative;
  padding: 0 1.5rem 0 0;
}

.feature-list-item__content {
  position: relative;
}

.feature-list-item__desc {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1.25rem;
}

.feature-list-link {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--dark-blue);
  font-weight: 400;
}

/* TODO: continue from here for styling */

/** Could be put in media query */
@media (min-width: 1200px) {
  .navbar__controls__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
  }
}

@media (min-width: 550px) {
  .feature-list-item {
    min-height: 115px;
    width: 50%;
  }
}