*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --dark-blue: #4c5fd5;
  --pale-blue: #dadbf1;
  --black: #000000;
  --white: #ffffff;
}

html {
  height: 100%;
}

body {
  font-family: 'GT America Standard', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

.layout {
  position: relative;
  background-color: var(--white);
  padding-bottom: 1rem;
}

.topbar {
  position: relative;
  top: 0;
  background-color: var(--black);
  left: 0;
  z-index: 3;
  width: 100%;
  color: var(--white);
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  transition: margin-top 0.7s ease;
  height: 88px;
}