:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background-color: var(--primary-color);
  color: #ffffff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url('../img/showcase.jpeg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* (Line below) by default, the background image is placed on top of everything in the showcase block (i.e. the header element) */
  z-index: -1;
}